name: Publish package to GitHub Packages
on:
  push:
    branches:
      - main
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      # Setup .npmrc file to publish to GitHub Packages
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          registry-url: "https://npm.pkg.github.com"
          # Defaults to the user or organization that owns the workflow file
          scope: "@dbryantm"

      # - name: Configure .npmrc
      #   run: echo "//npm.pkg.github.com/:_authToken=${{ github.token }}" > ~/.npmrc

      - name: Corepack enable
        id: corepack-enable
        run: corepack enable

      - name: Get cache directory
        id: get-cache-path
        run: echo "PNPM_CACHE=$(pnpm store path)" >> $GITHUB_OUTPUT

      - name: Get version # This can be used later for tagging releases, etc.
        id: get-version
        run: echo "PKG_VERSION=$(pnpm pkg get version | tr -d \")" >> $GITHUB_OUTPUT
        # run: echo "PKG_VERSION=$(node -p \"require('./package.json').version\")" >> $GITHUB_OUTPUT

      - name: Restore dependencies
        id: restore-dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.get-cache-path.outputs.PNPM_CACHE }}
          key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      # - name: Cache dependencies
      #   id: cache-dependencies
      #   uses: actions/cache/save@v4
      #   with:
      #     path: ${{ steps.get-cache-path.outputs.PNPM_CACHE }}
      #     key: ${{ runner.os }}-pnpm-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Build
        run: pnpm run build

      - name: Publish package
        run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}
