name: Release to GitHub Packages on Publish
on:
  release:
    types: [published]
jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - id: checkout
        uses: actions/checkout@v5

      - id: setup-mise
        uses: jdx/mise-action@v3
        with:
          cache_key: "{{default}}-{{install_args_hash}}-{{file_hash}}"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          install_args: "node@${{ matrix.node-version }} pnpm@${{ matrix.pnpm-version }}"

      - id: setup-mise-node-pnpm
        run: mise use -g node@${{ matrix.node-version }} pnpm@${{ matrix.pnpm-version }}

      - id: setup-npmrc
        run: |
          echo "//npm.pkg.github.com/:_authToken=${{ github.token }}" >> ./.npmrc
          cat ./.npmrc

      - id: pnpm-store-path
        run: echo "PNPM_STORE_PATH=$(pnpm store path)" >> $GITHUB_OUTPUT

      - id: pnpm-deps-cache-restore
        uses: actions/cache/restore@v4
        with:
          path: ${{ steps.pnpm-store-path.outputs.PNPM_STORE_PATH }}
          key: pnpm-${{ hashFiles('./pnpm-lock.yaml') }}
          restore-keys: pnpm-

      - id: pnpm-install
        run: pnpm install --frozen-lockfile

      - id: pnpm-deps-cache
        if: steps.pnpm-deps-cache-restore.outputs.cache-hit != 'true'
        uses: actions/cache/save@v4
        with:
          path: ${{ steps.pnpm-store-path.outputs.PNPM_STORE_PATH }}
          key: pnpm-${{ hashFiles('./pnpm-lock.yaml') }}

      - id: pnpm-build
        name: Build
        run: pnpm run build

      - id: pnpm-publish
        name: Publish
        run: pnpm publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}
